<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.knitml.gpec.renderer.preferences.optionPostProcessors" name="optionPostProcessors" schema="schema/com.knitml.gpec.renderer.preferences.optionPostProcessors.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.knitml.gpec.renderer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.knitml.gpec.renderer.preferences.BasePreferencePage"
            id="com.knitml.gpec.renderer.preferences.main"
            name="Rendering">
      </page>
      <page
            category="com.knitml.gpec.renderer.preferences.main"
            class="com.knitml.gpec.renderer.preferences.ChartingPreferencePage"
            id="com.knitml.gpec.renderer.preferences.charting"
            name="Charts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.knitml.gpec.application.render">
         <command
               commandId="org.eclipse.ui.window.preferences"
               id="com.knitml.gpec.renderer.preferencesOpen"
               label="Preferences"
               style="push">
            <parameter
                  name="preferencePageId"
                  value="com.knitml.gpec.renderer.preferences.main">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="com.knitml.gpec.renderer.defaultRenderingFont"
            isEditable="false"
            label="Pattern Rendering Font"
            value="Garamond-regular-12">
      </fontDefinition>
   </extension>

</plugin>
