<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="com.knitml.dsl.ui.Examples" 
				  name="Knitting Expression Language Examples" 
				  parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<!-- ========= com.knitml.dsl.ui.examples.advancedsock ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="com.knitml.dsl.ui.examples.AdvancedSockExampleWizard" 
			name="Advanced Sock"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/com.knitml.dsl.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>A lace, top-down sock using 2 circular needles. Demonstrates instruction merging and support for multiple languages within the pattern.</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="com.knitml.dsl.ui.examples.AdvancedSockExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="Advanced Sock Example (Nutkin 2)" contentURI="contents/com.knitml.dsl.ui.examples.advancedsock.zip" description="Advanced sock example project and pattern"/>
   <fileToOpen
         location="Advanced Sock Example (Nutkin 2)/nutkin2.kel2">
   </fileToOpen>
	  </example>
	</extension>
	<!-- ========= com.knitml.dsl.ui.examples.basicsock ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="com.knitml.dsl.ui.examples.BasicSockExampleWizard" 
			name="Basic Sock"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/com.knitml.dsl.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>A sock pattern with 2x2 ribbing. Knit with 2 circular needles. Demonstrates knitting in the round, grafting, multiple needles.</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="com.knitml.dsl.ui.examples.BasicSockExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="Basic Sock Example" contentURI="contents/com.knitml.dsl.ui.examples.basicsock.zip" description="Basic sock example project and pattern"/>
   <fileToOpen
         location="Basic Sock Example/basic-sock.kel2">
   </fileToOpen>
	  </example>
	</extension>   
	<!-- ========= com.knitml.dsl.ui.examples.laceshawl ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="com.knitml.dsl.ui.examples.LaceShawlExampleWizard" 
			name="Lace Shawl"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/com.knitml.dsl.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>A lace shawl pattern designed by Emilee Mooney (Foliage). Demonstrates pre-defined charting capabilities.</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="com.knitml.dsl.ui.examples.LaceShawlExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="Lace Shawl Example (Foliage)" contentURI="contents/com.knitml.dsl.ui.examples.laceshawl.zip" description="Lace shawl example project and pattern"/>
   <fileToOpen
         location="Lace Shawl Example (Foliage)/foliage-small-gauge.kel2">
   </fileToOpen>
	  </example>
	</extension>
	<!-- ========= com.knitml.dsl.ui.examples.sampler ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="com.knitml.dsl.ui.examples.SamplerExampleWizard" 
			name="Stitch Sampler"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/com.knitml.dsl.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>A sampler swatch. Demonstrates a variety of different types of knitting.</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="com.knitml.dsl.ui.examples.SamplerExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="Stitch Sampler Example" contentURI="contents/com.knitml.dsl.ui.examples.sampler.zip" description="Stitch sampler example project and pattern"/>
   <fileToOpen
         location="Stitch Sampler Example/sampler-swatch.kel2">
   </fileToOpen>
	  </example>
	</extension>
	<!-- ========= com.knitml.dsl.ui.examples.simple ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="com.knitml.dsl.ui.examples.SimpleExampleWizard" 
			name="Simple pattern"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/com.knitml.dsl.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>A minimal pattern. Demonstrates cast on, knit, and bind off with no pattern information.</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="com.knitml.dsl.ui.examples.SimpleExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="Simple Example" contentURI="contents/com.knitml.dsl.ui.examples.simple.zip" description="Simple example project and pattern"/>
   <fileToOpen
         location="Simple Example/simple.kel2">
   </fileToOpen>
	  </example>
	</extension>
	<!-- ========= com.knitml.dsl.ui.examples.sweater ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="com.knitml.dsl.ui.examples.SweaterExampleWizard" 
			name="Sweater"
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/com.knitml.dsl.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>A sweater pattern designed by Jenna Wilson (Banff). Demonstrates stitch holders and complex instruction definitions.</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="com.knitml.dsl.ui.examples.SweaterExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="Sweater Example (Banff)" contentURI="contents/com.knitml.dsl.ui.examples.sweater.zip" description="Sweater example project and pattern"/>
   <fileToOpen
         location="Sweater Example (Banff)/banff.kel2">
   </fileToOpen>
	  </example>
	</extension>
   
</plugin>
