<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.knitml.gpec.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.knitml.gpec.Perspective"
            id="com.knitml.gpec.perspective"
            name="KnitML Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.knitml.gpec.application"
            name="KnitML Pattern Editor">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif,icons/alt_window_48.gif">
         </property>
         <property
               name="appName"
               value="KnitML Pattern Editor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="KnitML Pattern Editor&#x0A;&#x0A;Version: 0.2.0&#x0A;&#x0A;(c) Copyright KnitML contributors and others 2008, 2009.  All rights reserved.&#x0A;Visit http://www.knitml.com/&#x0A;&#x0A;This product includes software developed by&#x0A;the Eclipse Foundation (http://www.eclipse.org).&#x0A;&#x0A;This product includes software developed by&#x0A;the Apache Software Foundation (http://www.apache.org).&#x0A;&#x0A;This product includes software developed by the Spring Framework&#x0A;Project (http://www.springframework.org).">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="332,252,225,20">
         </property>
         <property
               name="startupProgressRect"
               value="332,275,225,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.knitml.gpec.application.file"
               label="File">
            <menu
                  commandId="org.eclipse.ui.file.newQuickMenu"
                  id="com.knitml.gpec.application.file.new"
                  label="New">
               <command
                     commandId="com.knitml.gpec.commands.newKnitmlProjectWizard"
                     icon="icons/alt_window_16.gif"
                     label="KnitML Project"
                     style="push">
               </command>
               <separator
                     name="additions"
                     visible="false">
               </separator>
            </menu>
            <separator
                  name="beforeClose"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close"
                  style="push"
                  tooltip="Close">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <separator
                  name="beforeSave"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.revert"
                  label="Revert"
                  style="push">
            </command>
            <separator
                  name="beforeRefactor"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.move"
                  label="Move..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.rename"
                  label="Rename..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  label="Refresh"
                  style="push">
            </command>
            <separator
                  name="beforePrint"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="Print..."
                  style="push">
            </command>
            <separator
                  name="beforeImport"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export..."
                  style="push">
            </command>
            <separator
                  name="beforeProperties"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.properties"
                  label="Properties"
                  style="push">
            </command>
            <separator
                  name="beforeExit"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="com.knitml.gpec.commands.exit"
                  label="Exit"
                  style="push"
                  tooltip="Exit the application">
            </command>
         </menu>
         <separator
               name="additions"
               visible="false">
         </separator>
         <menu
               id="com.knitml.gpec.application.help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  id="com.knitml.gpec.commands.helpContents"
                  label="Contents"
                  style="push">
            </command>
            <separator
                  name="aboutsep"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="com.knitml.gpec.commands.about"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/project_explorer.gif"
            id="com.knitml.gpec.navigatorView"
            name="Project Explorer"
            restorable="true">
         <description>
            The main directory listing
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.knitml.gpec.navigatorView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>ion>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
       <viewerActionBinding
            viewerId="com.knitml.gpec.navigatorView">
         <includes>
            <actionExtension
                  pattern="com.knitml.gpec.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PortingActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkManagementActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
         </includes>
       </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.knitml.gpec.perspective">
         <view
               closeable="false"
               id="com.knitml.gpec.navigatorView"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.knitml.gpec.knitml"
            name="KnitML">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.knitml.gpec.knitml"
            class="com.knitml.gpec.wizards.KnitmlProjectWizard"
            hasPages="true"
            id="com.knitml.gpec.KnitmlProjectWizard"
            name="KnitML Project"
            preferredPerspectives="com.knitml.gpec.perspective"
            project="true">
      </wizard>
      <primaryWizard
            id="com.knitml.gpec.KnitmlProjectWizard">
      </primaryWizard> 
   </extension>
   <extension
         id="knitmlBuilder"
         name="KnitML Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.knitml.gpec.builder.KnitmlBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="knitmlNature"
         name="KnitML Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.knitml.gpec.builder.KnitmlNature">
         </run>
      </runtime>
      <builder
            id="com.knitml.gpec.knitmlBuilder">
      </builder>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
        <actionProvider
            	class="com.knitml.gpec.actions.NewActionProvider"
            	id="com.knitml.gpec.NewActions"> 
        	<enablement> 
        			<or>
						<adapt type="org.eclipse.core.resources.IResource" />	 
						<adapt type="java.util.Collection"> 
							<count value="0" />
						</adapt>
					</or>
	         </enablement>
		</actionProvider> 
	</extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.knitml.gpec.commands.category"
            name="KnitML menu commands">
      </category>
      <command
            categoryId="com.knitml.gpec.commands.category"
            defaultHandler="com.knitml.gpec.handlers.NewKnitmlProjectWizardHandler"
            description="Create a new KnitML project"
            id="com.knitml.gpec.commands.newKnitmlProjectWizard"
            name="KnitML Project">
      </command>
   </extension>on>
</plugin>
