<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.knitml.gpec.renderer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.knitml.gpec.renderer.preferences.BasePreferencePage"
            id="com.knitml.gpec.renderer.preferences.main"
            name="Rendering">
      </page>
      <page
            category="com.knitml.gpec.renderer.preferences.main"
            class="com.knitml.gpec.renderer.preferences.ChartingPreferencePage"
            id="com.knitml.gpec.renderer.preferences.charting"
            name="Charts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.knitml.gpec.application.window?after=additions">
         <command
               commandId="org.eclipse.ui.window.preferences"
               id="com.knitml.gpec.renderer.preferencesOpen"
               label="Rendering Preferences"
               style="push">
            <parameter
                  name="preferencePageId"
                  value="com.knitml.gpec.renderer.preferences.main">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
