<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Knitting EL Editor"
            extensions="kel"
            icon="icons/kel_file_type.gif"
            contributorClass="com.knitml.gpec.kel.editors.KnittingElEditorContributor"
            class="com.knitml.gpec.kel.editors.KnittingElEditor"
            id="com.knitml.gpec.kel.editors.KnittingElEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="KnitML Pattern (KEL format)"
            icon="icons/sample.gif"
            category="com.knitml.gpec.knitml"
            class="com.knitml.gpec.kel.wizards.KnittingElWizard"
            id="com.knitml.gpec.kel.wizards.KnittingElWizard">
      </wizard>
      <primaryWizard
            id="com.knitml.gpec.kel.wizards.KnittingElWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.knitml.gpec.application.file.new?after=additions">
         <command
               commandId="com.knitml.gpec.kel.commands.newKelFileWizard"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.knitml.gpec.menu.new?before=project-additions">
         <command
               commandId="com.knitml.gpec.kel.commands.newKelFileWizard"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.knitml.gpec.kel.commands.category"
            defaultHandler="com.knitml.gpec.kel.handlers.NewKelFileWizardHandler"
            description="KnitML File (KEL Format)"
            id="com.knitml.gpec.kel.commands.newKelFileWizard"
            name="KnitML File (KEL Format)">
      </command>
   </extension>

</plugin>
