<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.knitml.gpec.renderer.preferences.operations.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.knitml.gpec.renderer.preferences.main"
            class="com.knitml.gpec.renderer.preferences.operations.SamplePreferencePage"
            id="com.knitml.gpec.renderer.preferences.operations.main"
            name="Operations">
      </page>
   </extension>
   <extension
         point="com.knitml.gpec.renderer.preferences.optionPostProcessors">
      <optionPostProcessor
            class="com.knitml.gpec.renderer.preferences.operations.impl.OptionsPostProcessorImpl"
            id="com.knitml.gpec.renderer.preferences.operations.optionsPostProcessor">
      </optionPostProcessor>
   </extension>

</plugin>
