
a#knitml-home img { background-image : url(graphics/sample.gif); }
a#knitml-home:hover img { background-image : url(graphics/sample_hov.gif); }
a#wiki img { background-image : url(graphics/sample.gif); }
a#wiki:hover img { background-image : url(graphics/sample_hov.gif); }
a#support img { background-image : url(graphics/sample.gif); }
a#support:hover img { background-image : url(graphics/sample_hov.gif); }

a#install-sample-pattern img { background-image : url(graphics/sample.gif); }
a#install-sample-pattern:hover img { background-image : url(graphics/sample_hov.gif); }
